@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> Bienvenido a mi evaluación</p>


    <div class="text-center">
        <!-- Imagen del meme -->
        <img src="~/Imagenes/Meme.jpeg" alt="Meme Favorito" style="width: 300px; height: 300px;">

        <!-- Botón de Bootstrap -->
        <button class="btn btn-primary mt-3" onclick="mostrarAlerta()">Mensaje</button>
    </div>
</div>


