@model Cortez_Enzo_Evaluacion_P_I.Models.ECortez

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ECortez</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mesada" class="control-label"></label>
                <input asp-for="Mesada" class="form-control" />
                <span asp-validation-for="Mesada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estudiante" class="control-label"></label>
                <input asp-for="Estudiante" class="form-control" />
                <span asp-validation-for="Estudiante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cummpleaños" class="control-label"></label>
                <input asp-for="Cummpleaños" class="form-control" />
                <span asp-validation-for="Cummpleaños" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CelularId" class="control-label"></label>
                <select asp-for="CelularId" class ="form-control" asp-items="ViewBag.CelularId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
